<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <p>
      Es una cadena de restaurantes que se dedica a la preparación de pollo frito en todas sus presentaciones,
      hace parte del grupo Yum! Brands y sus siglas traducen pollo frito Kentucky y se ha ido expandiendo a lo largo por 
      todo el mundo ya que cuenta con más de 18000 sucursales distribuidas en 180 países.<br>
      <br>
      Si deseas saber mas de la historia, ingresa a la página 
      <a href="https://historia-biografia.com/historia-de-kfc/" target="_blank" rel="noopener">Historia de kfc</a>.
      <br>
      <br>
      Mira las últimas promos que ofrece kfc
      <a href="https://kfc-panama.com/">PROMOS KFC</a>.
    </p>
    
    
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
