<template>
  <div class="Home">
    <h1>INVENTARIO</h1>
    <el-row>
      <el-col span="18" class="col1">producto</el-col>
      <h2 class="blanco">PERSONA</h2>

      <el-table :data="lista" style="width: 100%">
        <el-table-colum label="Nombre" prop="nombre"/>
       
       <el-table-colum label="Edad" props="edad"/>
       <el-table-colum label="Accion" props="edad"/>
      </el-table>
    </el-col>
    <el-col span="6" class="col2">
      <h2 class="blanco">FORMULARIO</h2>
    </el-col>
    </el-row>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'home',
  components: {
    
  }
}
</script>
