<template>
  <div class="home">
    <h1>Legumbres y Frutas</h1>
    <img src="https://statics.viralizalo.com/virs/2016/02/VIR_144671_12113_cuanto_sabes_de_frutas_y_vegetales.jpg?cb=42191" height="250">
     <el-table
    :data="productos"
    stripe
    style="width: 100%">
    <el-table-column
      prop="id"
      label="ID"
      width="180">
    </el-table-column>
    <el-table-column
      prop="nombre"
      label="Nombre"
      width="180">
    </el-table-column>
    <el-table-column
      prop="precio"
      label="Precio">
    </el-table-column>
    <el-table-column
      prop="descripcion"
      label="Descripción">
    </el-table-column>

  </el-table>

<el-form ref="formulario" :model="form" label-width="120px">
          <el-form-item label="Id">
            <el-input v-model="form.id"></el-input>
          </el-form-item>
          <el-form-item label="Nombre">
            <el-input v-model="form.nombre"></el-input>
          </el-form-item>
          <el-form-item label="precio">
            <el-input v-model="form.precio"></el-input>
          </el-form-item>
          <el-form-item label="Descripcion">
            <el-input v-model="form.descrip"></el-input>
          </el-form-item>
          <el-form-item v-if="validar">
            <el-button type="primary" @click="Guardar">Guardar</el-button>
          </el-form-item>
        </el-form>
        <el-row>
           <el-button type="primary">Guardar</el-button>
        </el-row>

<el-input v-model="buscar" size="mini" placeholder="busqueda"/>

  </div>
</template>

<script>
// @ is an alias to /src


export default {
  name: 'home',
  components: {},
  data(){
    return {
      productos:[
          {id: 450, nombre: 'Tomate', precio: 10.00, descripcion: 'Saludable y bajo en calorías.'},
          {id: 451, nombre: 'Brocoli', precio: 23.00, descripcion: 'El brócoli es rico en nutrientes y posee diversos beneficios al ser consumido.'},
          {id: 452, nombre: 'Ajies', precio: 34.00, descripcion: 'aporta un sabor delicioso a guisos y en especial a sofritos.'},
          {id: 453, nombre: 'Lechuga', precio: 30.00, descripcion:'La lechuga aporta vitaminas y minerales que enriquecen la dieta sin aportar apenas calorías.'},
          {id: 460, nombre: 'Papaya', precio: 15.00, descripcion: 'La papaya aporta más vitamina C que la naranja.'},
          {id: 461, nombre: 'Fresa', precio: 20.00, descripcion: 'Es una fruta de primavera muy ligera que aporta valiosos minerales y vitaminas.'},
          {id: 462, nombre: 'Piña', precio: 18.00, descripcion: 'La piña tropical se caracteriza por su sabor y exquisito aroma, posee grandes virtudes terapéuticas y es muy rica en vitamina C y potasio.'},
          {id: 463, nombre: 'Manzana', precio: 15.00, descripcion: 'La manzana es rica en hidratos de carbono, fibra, vitaminas y potasio y es consumida por todos.'},

      ],


      buscar: '',
      informacion: {},
      form: {
        id: "",
        nombre: "",
        precio: "",
        descripcion: ""
      }
    }
  },
  methods: {
  guardar: function() {
    this.productos.push(this.form)
    this.form = {};
  }
},
computed: {
  validar() {
    return this.form.nombre != "" && this.form.precio > 0 != "" && this.form.descripcion != "" && this.id>0;
  }
},

}

</script>
