<template>
    <div>
        <!-- <h1>Vista de Computadora {{  $route.params.id }}</h1> -->
        <h3 v-if="$route.params.id == 'all'">
            Estado de las computadoras
        </h3>
        <h3 v-else>
            Estado de computador {{ $route.params.id }}
        </h3>
        <router-link :to="{ name: 'home'}"> Ir a Home</router-link>

    </div>
</template>

<script>
export default {
    name:"computer"
}
</script>

